// Variables for consistency
$primary-color: #007bff;
$error-color: #ff4d4f;
$table-border: 1px solid #ddd;
$button-bg: #f5f5f5;
$button-border: 1px solid #ccc;

// removing the arrows from number inputs
//Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Firefox
input[type="number"] {
  -moz-appearance: textfield;
}

// Main app container
.app {
  margin: 20px auto;
  max-width: 100%;
  padding: 0px 10%;
  font-family: Arial, sans-serif;

  h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: $primary-color;
  }

  // Error message styling
  p {
    color: $error-color;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 10px;
  }

  // Table container
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    thead {
      tr {
        th {
          padding: 10px;
          background-color: #f9f9f9;
          border: $table-border;
          text-align: center;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 8px;
          border: $table-border;
          text-align: center;

          input[type="number"] {
            width: 90%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 0.9rem;

            &:focus {
              border-color: $primary-color;
              outline: none;
            }
          }

          input[type="checkbox"] {
            cursor: pointer;
          }

          button {
            background-color: $button-bg;
            border: none;
            aspect-ratio: 1/1;
            padding: 5px 10px;
            font-size: 18px;
            width: 35px;
            cursor: pointer;
            color: black;
            background-color: white;
            font-weight: 500;

            &:hover {
              color: red;
              background-color: white;
            }
          }
        }
      }
    }
  }

  // Add pass button
  button {
    display: block;
    margin: 0 auto;
    padding: 8px 16px;
    font-size: 24px;
    border: $button-border;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: white;
    color: $primary-color;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }

    &:disabled {
      background-color: #e0e0e0;
      color: #aaa;
      cursor: not-allowed;
    }
  }
}
