*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

// Main container
div {
  font-family: Arial, sans-serif;
  margin: 20px;
}

// Title
h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

// Error message styling
div[style*="color: red"] {
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

// Table styling
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #eaeaea;
  }
}

// Table input styling
input[type="number"] {
  width: 80%;
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;

  &:focus {
    border-color: #0056b3;
    outline: none;
  }
}

// Button styling
button {
  padding: 20px 25px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: black;
  font-size: 14px;
  cursor: pointer;

  img{
    max-width: 25px;
  }

  &.removepass{
    padding: 8px 12px;
    margin: 5px;
    &:hover{
      background-color: red;
    }
  }

  &:hover {
    background-color: rgb(0, 255, 0);
  }

  &:focus {
    outline: none;
  }
}


// Style for the container around buttons
button + button {
  margin-left: 10px;
}

// General margin adjustments for buttons
button,
button + button {
  margin-top: 10px;
}

// Add Pass button and table adjustments
.add-pass-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
